//- 选择车系弹出框
extends ../../layout/main.pug

append styles
  link(rel="stylesheet", href="/css/site/site.css")

block title
  title 选择车系弹出框

block content
  .mask
    .dialog
      .closed
        a(href="javascript:;")
          img(src="../../assets/images/close.png", alt="")
        //- 待按钮的提示信息
      h4  选择车系
      .choose-wrapper
        div
          input(type="checkbox")
          lable(class="iconfont icon-checkbox")
          span  海马s5
        div
          input(type="checkbox")
          lable(class="iconfont icon-checkbox")
          span  海马s5青春版
        div
          input(type="checkbox")
          lable(class="iconfont icon-checkbox")
          span  海马s5
        div
          input(type="checkbox")
          lable(class="iconfont icon-checkbox")
          span  海马s5
      .select-group
        a(class="btn btn-default btn-mid",href="javascript:;") 取消
        a(class="btn btn-primary btn-mid",href="javascript:;") 保存
