//- 确认弹出框
extends ../../layout/main.pug

append styles
  link(rel="stylesheet", href="/css/site/site.css")

block title
  title 确认弹出框

block content
  .mask
    .dialog
      .closed
        a(href="javascript:;")
          img(src="../../assets/images/close.png", alt="")
        //- 待按钮的提示信息
      p
        strong 您确定要删除该经销商吗
      p 删除后将不能恢复
      .select-group
        a(class="btn btn-default btn-mid",href="javascript:;") 取消
        a(class="btn btn-primary btn-mid",href="javascript:;") 确定
    //- 没有按钮提示信息
    .dialog
      .closed
        a(href="javascript:;")
          img(src="../../assets/images/close.png", alt="")
      .hint
        p
          strong  删除失败
        p 该角色下面还有用户，角色删除失败！
