//- orderDetails.pug
extends ../../layout/main.pug

append styles
  link(rel="stylesheet", href="/css/site/site.css")
  link(rel="stylesheet", href="/css/page/order.css")


block title
  title 订单详情

block content
  include ../../component/header.pug
  - var classes = ['main'];
  div(class=classes)
    include ../../component/sidebar.pug
    .content
      .content-body
          ol(class='breadcrumb')
            li
              a(href='javascript:;') 首页
            li
              a(href='javascript:;') 订单管理
            li(class='active') 订单详情
          div(class='panel pb34')
            h3(class='panel-heading') 订单信息
            div(class='plr30 mt18')
              div(class='table-responsive table-bordered')
                table(class="table table-vertical")
                  tbody
                    tr
                      th 订单编号
                      td 1508584840065
                      th 订单状态
                      td 交易完成
                    tr
                      th 下单时间
                      td 2017-10-24 13:46:20
                      th 付款时间
                      td 2017-10-24 13:46:20
                    tr
                      th 订单金额
                      td ￥6000
                      th 实付金额
                      td ￥210
                    tr
                      th 订单来源
                      td PC/WAP/微商城
                      th 支付方式
                      td 微信/支付宝/银联
                    tr
                      th 使用优惠券
                      td 满100减10优惠券
                      th 优惠券优惠金额
                      td ￥10
                    tr
                      th 使用积分
                      td 250
                      th 积分抵扣金额
                      td ￥5
                    tr
                      th 联系人
                      td 彭于晏
                      th 手机号码
                      td 13850144066
                    tr
                      th 收货地址
                      td 浙江省杭州市建业路511号27楼
                      th 物流费用
                      td ￥30
                    tr
                      th 物流公司
                      td 顺丰
                      th 物流单号
                      td 829791479327502540
                    tr
                      th 订单备注
                      td(colspan='3')
          div(class='panel pb34')
            h3(class='panel-heading') 商品信息
            div(class='plr30 mt18')
              div(class='table-responsive table-bordered')
                table(class="table table-hover order-table")
                  thead
                    tr
                      th.w140 商品名称
                      th 单价
                      th 数量
                      th 总价
                      th 状态
                  tbody
                    tr
                      td 车载香水
                      td ￥90.00
                      td 1
                      td ￥90.00
                      td 已完成
                    tr
                      td 车载香水
                      td ￥90.00
                      td 1
                      td ￥90.00
                      td 已完成
              div(class='table-responsive table-bordered mt20')
                table(class="table table-vertical order-vertical")
                  tbody
                    tr
                      th.tl.relative 总价
                        span.bg-white-chunk
                      td /
                      td 3
                      td ￥180.00
                      td /
          div(class='panel')
            h3(class='panel-heading') 物流信息
            div.admin-body
              div(class='order-box mt18')
                div(class='order-left')
                  h3.order-title 已签收
                  div.order-font-box
                    p 运单号：89273895729873597
                    p 物流公司：顺丰快递
                    p 客服热线：400-2039-3934
                div(class='order-right')
                  ul.timeLine 
                    li 
                      input(type='radio' class='timeLine-radio')
                      i.circle
                      span.timeLine-font 2017.09.19 13:30 快件已签收，签收人:前台,感谢您使用中通快递，期待再次为您服务！
                    li 
                      input(type='radio' class='timeLine-radio')
                      i.circle
                      span.timeLine-font 2017.09.18 13:30 快件已从 宁波中转部 发出 
                    li 
                      input(type='radio' class='timeLine-radio')
                      i.circle
                      span.timeLine-font 2017.09.18 13:30 您的订单打包完成 
                    li 
                      input(type='radio' class='timeLine-radio')
                      i.circle
                      span.timeLine-font 2017.09.18 13:30 您的订单开始清关，申报口岸[宁波海关] 
                    li 
                      input(type='radio' class='timeLine-radio')
                      i.circle
                      span.timeLine-font 2017.09.18 13:30 您的订单开始处理，正在安排清关申报
                    li 
                      input(type='radio' class='timeLine-radio')
                      i.circle
                      span.timeLine-font 2017.09.18 13:30 您的订单开始处理，正在安排清关申报
                    li 
                      input(type='radio' class='timeLine-radio')
                      i.circle
                      span.timeLine-font 2017.09.18 13:30 您的订单开始处理，正在安排清关申报
          div(class='panel pb34')
            h3(class='panel-heading') 商品评价
            div(class='plr30 mt18')
              div(class='table-responsive table-bordered')
                table(class="table table-hover table-list")
                  thead
                    tr
                      th 商品名称
                      th 评分
                      th 商品评价
                      th 追评
                      th.w100 晒图
                      th 回复
                  tbody
                    tr
                      td 车载香水
                      td
                        i(class='iconfont icon-star')
                        i(class='iconfont icon-star')
                        i(class='iconfont icon-star')
                        i(class='iconfont icon-star')
                        i(class='iconfont icon-star')
                      td 好评
                      td 使用一段时间后，感觉很好用
                      td
                        ul.img-box
                          li.img-item
                            <img src="" />
                            <img src="" />
                          li.img-item
                            <img src="" />
                            <img src="" />
                      td 感谢您对海马的信任
                    tr
                      td 车载香水
                      td
                        i(class='iconfont icon-star')
                        i(class='iconfont icon-star')
                        i(class='iconfont icon-star')
                        i(class='iconfont icon-star')
                        i(class='iconfont icon-star')
                      td 好评
                      td 使用一段时间后，感觉很好用
                      td
                        ul.img-box
                          li.img-item
                            <img src="" />
                            <img src="" />
                          li.img-item
                            <img src="" />
                            <img src="" />
                      td 感谢您对海马的信任
              div(class='table-responsive table-bordered mt20')
                table(class="table table-vertical")
                  tbody
                    tr
                      th 服务评价
                      td
                        i(class='iconfont icon-star')
                        i(class='iconfont icon-star')
                        i(class='iconfont icon-star')
                        i(class='iconfont icon-star')
                        i(class='iconfont icon-star')
                      th 物流评价
                      td
                        i(class='iconfont icon-star')
                        i(class='iconfont icon-star')
                        i(class='iconfont icon-star')
                        i(class='iconfont icon-star')
                        i(class='iconfont icon-star')

      include ../../component/footer.pug
