
.tab-header {
    li {
        width: 17%;
    }
    .tab-width {
        width: 34%;
        .icon-check {
            float: left;
            margin: 12px 0 12px 20px;
        }
    }
    .tab-info {
        width: 18%;
    }
    .price {
        width: 14%;
    }
    .table-evaluate {
        width: 26%;
    }
    .operation {
        width: 8%;
    }
}
//表格宽度
.table-view {
    .table2 {
        width: 34%; 
    }
    .table-info {
        width: 18%;
    }
    .table-price {
        width: 14%;
    }
    .table-evaluate {
        width: 26%;
    }
    .operation {
        width: 8%;
    }
}
