.mask
  .dialog
    .closed
      a(href="javascript:;")
        img(src="../../assets/images/close.png", alt="")
    //- p
    //-   strong 您确定要删除该经销商吗
    //- p 删除后将不能恢复
    //- .select-group
    //-   a(class="btn btn-default btn-mid",href="javascript:;") 取消
    //-   a(class="btn btn-primary btn-mid",href="javascript:;") 确定
