div(class='page-box mt34')
    ul(class='page-size')
        li(class='page-size-item page-view') 
            a(href='javascript:;' class='iconfont icon-left') 
        li(class='page-size-item active')
            a(href='javascript:;') 1
        li(class='page-size-item') 
            a(href='javascript:;') 2
        li(class='page-size-item')
            a(href='javascript:;') 3
        li(class='page-size-item')
            a(href='javascript:;') 4
        li(class='page-size-item')
            a(href='javascript:;') 5
        li(class='page-size-item')
            a(href='javascript:;') 6
        li(class='page-size-item')
            a(href='javascript:;') 7
        li(class='page-size-more') 
            a(href='javascript:;') ...
        li(class='page-size-item')
            a(href='javascript:;') 10
        li(class='page-size-item') 
            a(href='javascript:;' class='iconfont icon-right') 
    p(class='page-num') 到第
        input(type='text') 
        span 页
    a(href='javascript:;' class='skip') 跳转