//- audit.pug
extends ../../layout/index-main.pug

append styles
  link(rel="stylesheet", href="/css/site/site.css")

block title
  title 商品管理-商品编辑

block content-body
  .audit-detail
    ol(class='breadcrumb')
      li
        a 首页
      li
        a 商品管理
      li.active
        | 商品创建
    .panels
      .panel
        .panel-heading 基本信息
        .panel-body
          .row
            .col-md-6
              form.form-horizontal
                .form-group
                  label.col-md-3.col-lg-2.control-label.required
                    span 商品类目
                  .col-md-4
                    select.form-control
                      option 精品
                      option 类目1
                      option 类目2
                      option 类目3
                  .col-md-4
                    select.form-control
                      option 机油
                      option 子类目1
                      option 子类目2
                      option 子类目3
                .form-group
                  label.col-md-3.col-lg-2.control-label.required
                    span 商品编号
                  .col-md-9
                    input.form-control(value="HM249855")
                .form-group
                  label.col-md-3.col-lg-2.control-label.required
                    span 商品名称
                  .col-md-9
                    input.form-control(value="海马机油W30")
                .form-group
                  label.col-md-3.col-lg-2.control-label.required
                    span 商品主图
                  .col-md-9
                    .preview-edit
                      img.edit-picture(src="http://www.52guzhuang.com/data/attachment/forum/201708/29/113909ilyykz8lribwa54y.jpg" alt="edit-picture")
                      .close
                        i.iconfont.icon-Popupwindow-copy
                    .upload-inline-block
                      .upload
                        span.icon +
                        span.text 上传图片
                        input(type="file")
                .form-group.has-error
                  label.col-md-3.col-lg-2.control-label.required
                    span 商品库存
                  .col-md-9
                    input.form-control
                  p.help-block
                    i.iconfont.icon-message
                    | 库存不可为空
                .form-group
                  label.col-md-3.col-lg-2.control-label
                    span 预警库存
                  .col-md-9
                    input.form-control(value="20")
                .form-group
                  label.col-md-3.col-lg-2.control-label.required
                    span 商品售价 (元)
                  .col-md-9
                    input.form-control(value="199")
                .form-group
                  label.col-md-3.col-lg-2.control-label.required
                    span 商品折扣价 (元)
                  .col-md-9
                    input.form-control(value="189")
                .form-group
                  label.col-md-3.col-lg-2.control-label
                    span 适用车系
                  .col-md-9.mt-8
                    .checkbox-inline.checkbox-m.checked
                      label
                        i.iconfont.icon-checkbox
                        input(type="checkbox" name="checkbox-radio" checked)
                        | 海马S5
                    .checkbox-inline.checkbox-m.checked
                      label
                        i.iconfont.icon-checkbox
                        input(type="checkbox" name="checkbox-radio")
                        | 海马S5 青春版
                    .checkbox-inline.checkbox-m.checked
                      label
                        i.iconfont.icon-checkbox
                        input(type="checkbox" name="checkbox-radio")
                        | 海马M3
                    .checkbox-inline.checkbox-m.checked
                      label
                        i.iconfont.icon-checkbox
                        input(type="checkbox" name="checkbox-radio")
                        | 海马M6
                .form-group.no-mb
                  label.col-md-3.col-lg-2.control-label.required
                    span 最大购买量
                  .col-md-9
                    .col-md-3.radio.radio-m.no-pl
                      label
                        input(type="radio" name="test-radio")
                        | 不限
                .form-group.no-mb
                  label.col-md-3.col-lg-2.control-label
                  .col-md-9
                    .col-md-4.radio.radio-m.checked.no-pl.no-pr
                      label
                        input(type="radio" name="test-radio")
                        | 每笔订单最大购买量
                    .col-md-5.form-group
                      input(type="number" class="form-control" value="4")
                .form-group.no-mb
                  label.col-md-3.col-lg-2.control-label
                  .col-md-9
                    .col-md-4.radio.radio-m.no-pl.no-pr
                      label
                        input(type="radio" name="test-radio")
                        | 每个账号最大购买量
                    .col-md-5.form-group
                      input(type="number" class="form-control" value="1" readonly)
                .form-group.mb-10
                  label.col-md-3.col-lg-2.control-label
                    span 是否支持退款
                  .col-md-9
                    .col-md-3.checkbox.checkbox-m.no-pl
                      label
                        i.iconfont.icon-checkbox
                        input(type="checkbox" name="checkbox-radio")
                        | 是
                .form-group.no-mb
                  label.col-md-3.col-lg-2.control-label.required
                    span 上架时间
                  .col-md-9
                    .col-md-3.radio.radio-m.checked.no-pl
                      label
                        input(type="radio" name="test-radio" checked)
                        | 立即上架
                .form-group.no-mb
                  label.col-md-3.col-lg-2.control-label
                  .col-md-9
                    .col-md-3.radio.radio-m.no-pl
                      label
                        input(type="radio" name="test-radio")
                        | 预设上架
                    .col-md-9.form-group.has-feedback.no-mb
                      label(class="col-sm-5 control-label") 预设上架时间
                      .col-sm-7
                        input(type="text" class="form-control" readonly)
                        i.iconfont.icon-rili.form-control-feedback
                .form-group
                  label.col-md-3.col-lg-2.control-label
                  .col-md-9
                    .col-md-3.radio.radio-m.no-pl
                      label
                        input(type="radio" name="test-radio")
                        | 暂不上架
                .form-group
                  label.col-md-3.col-lg-2.control-label.required
                    span 是否支持积分抵扣
                  .col-md-9
                    .col-md-3.checkbox.checkbox-m.checked.no-pl
                      label
                        i.iconfont.icon-checkbox
                        input(type="checkbox" name="checkbox-radio")
                        | 是
                    .col-md-9.form-group
                      label(class="col-sm-5 control-label") 积分抵扣上限
                      .col-sm-7
                        input(type="text" class="form-control" value="3506")
                .form-group
                  label.col-md-3.col-lg-2.control-label
                    span 自动补货
                  .col-md-9
                    .col-md-3.checkbox.checkbox-m.no-pl
                      label
                        i.iconfont.icon-checkbox
                        input(type="checkbox" name="checkbox-radio")
                        | 开启
                    .col-md-9.form-group
                      label(class="col-sm-5 control-label") 自动补货量
                      .col-sm-7
                        input(type="text" class="form-control" readonly)
      .panel
        .panel-heading 商品规格
        .panel-body
          .row
            .col-md-6
              form.form-horizontal.form-block
                .form-group
                  label.col-md-3.col-lg-2.control-label.required
                    span 规格
                  .col-md-9
                    input.form-control(value="3506")
                .form-group
                  label.col-md-3.col-lg-2.control-label.required
                    span 库存
                  .col-md-9
                    input.form-control(value="3506")
                .form-group
                  label.col-md-3.col-lg-2.control-label.required
                    span 售价 (元)
                  .col-md-9
                    input.form-control(value="345")
                .form-group
                  label.col-md-3.col-lg-2.control-label
                    span 折扣价 (元)
                  .col-md-9
                    input.form-control(value="300")
                .form-group.no-mb
                  label.col-md-3.col-lg-2.control-label
                    span 规格图片
                  .col-md-9
                    .preview-edit
                      img.edit-picture(src="http://www.52guzhuang.com/data/attachment/forum/201708/29/113909ilyykz8lribwa54y.jpg" alt="edit-picture")
                      .close
                        i.iconfont.icon-Popupwindow-copy
                    .upload-inline-block
                      .upload
                        span.icon +
                        span.text 上传图片
                        input(type="file")
                .manage-tools
                  span.text-muted
                    i.iconfont.icon-delete
          .row
            .col-md-6
              form.form-horizontal.form-block
                .form-group
                  label.col-md-3.col-lg-2.control-label.required
                    span 规格
                  .col-md-9
                    input.form-control(value="3506")
                .form-group
                  label.col-md-3.col-lg-2.control-label.required
                    span 库存
                  .col-md-9
                    input.form-control(value="3506")
                .form-group
                  label.col-md-3.col-lg-2.control-label.required
                    span 售价 (元)
                  .col-md-9
                    input.form-control(value="345")
                .form-group
                  label.col-md-3.col-lg-2.control-label
                    span 折扣价 (元)
                  .col-md-9
                    input.form-control(value="300")
                .form-group.no-mb
                  label.col-md-3.col-lg-2.control-label
                    span 规格图片
                  .col-md-9
                    .preview-edit
                      img.edit-picture(src="http://www.52guzhuang.com/data/attachment/forum/201708/29/113909ilyykz8lribwa54y.jpg" alt="edit-picture")
                      .close
                        i.iconfont.icon-Popupwindow-copy
                    .upload-inline-block
                      .upload
                        span.icon +
                        span.text 上传图片
                        input(type="file")
                .manage-tools
                  span.text-muted
                    i.iconfont.icon-delete
                  span.text-success
                    i.iconfont.icon-increase
      .panel
        .panel-heading 商品描述
        .panel-body
          form.form-horizontal
            .form-group
              label.col-md-1.control-label.required
                span 商品副标题
              .col-md-6.col-lg-4
                textarea.form-control(rows="4" placeholder="请在此输入对车辆的导购语")
          .tooltips
            .btn-group
              button.btn.active PC端
              button.btn 移动端
          form.form-horizontal
            .form-group
              label.col-md-1.control-label.required
                span 商品详情
              .col-md-8.col-lg-8
                textarea.form-control(rows="10" placeholder="富文本框（预留）")
      .panel
        .panel-heading 加价购及推荐设置
        .panel-body
          form.form-horizontal
            .form-group
              label.col-md-1.control-label.required
                span 加价购
              .col-md-8.col-lg-8
                .upload-bar
                  span.icon +
                  span.text 选择商品
                  input(type="file")
            .form-group
              label.col-md-1.control-label.required
                span 推荐商品
              .col-md-8.col-lg-8
                .upload-bar
                  span.icon +
                  span.text 选择商品
                  input(type="file")
            .row
              .col-md-11.col-md-offset-1
                .preview
                  img.pic(src="http://www.52guzhuang.com/data/attachment/forum/201708/29/113858bia7nmpog7cz53c7.jpg" alt="preview")
                  p.name 隐藏式行车记录仪xxxxxxxxxxxxxxxx
                  p.text
                    span 368元
                    del 680元
                  .close
                    i.iconfont.icon-Popupwindow-copy
                .preview
                  img.pic(src="http://www.52guzhuang.com/data/attachment/forum/201708/29/113858bia7nmpog7cz53c7.jpg" alt="preview")
                  p.name 隐藏式行车记录仪
                  p.text
                    span 368元
                    del 680元
                  .close
                    i.iconfont.icon-Popupwindow-copy
                .preview
                  img.pic(src="http://www.52guzhuang.com/data/attachment/forum/201708/29/113858bia7nmpog7cz53c7.jpg" alt="preview")
                  p.name 隐藏式行车记录仪
                  p.text
                    span 368元
                    del 680元
                  .close
                    i.iconfont.icon-Popupwindow-copy
          .submit-bar
            button.btn.btn-default.btn-big 取消
            button.btn.btn-primary.btn-big 保存
