//- audit.pug
extends ../../../layout/index-main.pug

append styles
  link(rel="stylesheet", href="/css/site/site.css")
  link(rel="stylesheet", href="/css/page/identification.css")

block title
  title 审核管理-认证审核

block content-body
  .audit
    ol(class='breadcrumb')
      li
        a(href='javascript:;') 首页
      li.active
        | 认证审核
    div(class='admin-children pb34')
      ul(class='navitems clearfix')
        li(class='nav-item')
          a(href='../activity/index.html') 活动审核
        li(class='nav-item')
          a(href='../information/index.html') 资讯审核
        li(class='nav-item')
          a(href='../sencondary/index.html') 二级网点审核
        li(class='nav-item active')
          a(href='../identification/list.html') 认证审核
      div(class='plr20 mt34')
        div(class='table-responsive table-bordered ')
          table(class="table-more table-hover")
            thead
              tr
                th 序号
                th.min-w102 用户名
                th 姓名
                th 车系
                th.car-w 车架号
                th 车牌号
                th 手机号
                th 行驶证
                th 状态
                th.time-w 申请时间
                th 审核人
                th.time-w 审核时间
                th.remark-w 备注
                th 操作
            tbody
              tr
                td 110
                td 13850144066
                td 彭于晏
                td 海马S5
                td 8395729585601457
                td 闽AB5K33
                td 13850144066
                td 
                  .shade-box 
                    img.picture 
                    .shade
                      i.iconfont.icon-view 
                td 审核不通过
                td 2017-11-12 12:09:09
                td 审核人
                td 2017-11-12 12:09:09
                td 图片不清晰
                td
                  a(class='upd-item', href='javascript:;') 查看
              tr
                td 110
                td 13850144066
                td 彭于晏
                td 海马S5
                td 8395729585601457
                td 闽AB5K33
                td 13850144066
                td 
                  .shade-box 
                    img.picture 
                    .shade
                      i.iconfont.icon-view  
                td 审核不通过
                td 2017-11-12 12:09:09
                td 审核人
                td 2017-11-12 12:09:09
                td 图片清晰
                td
                  a(class='upd-item', href='javascript:;') 查看
              tr
                td 110
                td 13850144066
                td 彭于晏
                td 海马S5
                td 8395729585601457
                td 闽AB5K33
                td 13850144066
                td 
                  .shade-box 
                    img.picture 
                    .shade
                      i.iconfont.icon-view   
                td 审核不通过
                td 2017-11-12 12:09:09
                td 审核人
                td 2017-11-12 12:09:09
                td 图片清晰
                td
                  a(class='upd-item', href='javascript:;') 查看
              tr
                td 110
                td 13850144066
                td 彭于晏
                td 海马S5
                td 8395729585601457
                td 闽AB5K33
                td 13850144066
                td 
                  .shade-box 
                    img.picture 
                    .shade
                      i.iconfont.icon-view 
                td 审核不通过
                td 2017-11-12 12:09:09
                td 审核人
                td 2017-11-12 12:09:09
                td 图片清晰
                td
                  a(class='upd-item', href='javascript:;') 查看
              tr
                td 110
                td 13850144066
                td 彭于晏
                td 海马S5
                td 8395729585601457
                td 闽AB5K33
                td 13850144066
                td 
                  .shade-box 
                    img.picture 
                    .shade
                      i.iconfont.icon-view   
                td 审核不通过
                td 2017-11-12 12:09:09
                td 审核人
                td 2017-11-12 12:09:09
                td 图片清晰
                td
                  a(class='upd-item', href='javascript:;') 查看
              tr
                td 110
                td 13850144066
                td 彭于晏
                td 海马S5
                td 8395729585601457
                td 闽AB5K33
                td 13850144066
                td 
                  .shade-box 
                    img.picture 
                    .shade
                      i.iconfont.icon-view  
                td 审核不通过
                td 2017-11-12 12:09:09
                td 审核人
                td 2017-11-12 12:09:09
                td 图片清晰
                td
                  a(class='upd-item', href='javascript:;') 查看
              tr
                td 110
                td 13850144066
                td 彭于晏
                td 海马S5
                td 8395729585601457
                td 闽AB5K33
                td 13850144066
                td 
                  .shade-box 
                    img.picture 
                    .shade
                      i.iconfont.icon-view 
                td 审核不通过
                td 2017-11-12 12:09:09
                td 审核人
                td 2017-11-12 12:09:09
                td 图片清晰
                td
                  a(class='upd-item', href='javascript:;') 查看
              tr
                td 110
                td 13850144066
                td 彭于晏
                td 海马S5
                td 8395729585601457
                td 闽AB5K33
                td 13850144066
                td 
                  .shade-box 
                    img.picture 
                    .shade
                      i.iconfont.icon-view  
                td 审核不通过
                td 2017-11-12 12:09:09
                td 审核人
                td 2017-11-12 12:09:09
                td 图片清晰
                td
                  a(class='upd-item', href='javascript:;') 查看
              tr
                td 110
                td 13850144066
                td 彭于晏
                td 海马S5
                td 8395729585601457
                td 闽AB5K33
                td 13850144066
                td 
                  .shade-box 
                    img.picture 
                    .shade
                      i.iconfont.icon-view  
                td 审核不通过
                td 2017-11-12 12:09:09
                td 审核人
                td 2017-11-12 12:09:09
                td 图片清晰
                td
                  a(class='upd-item', href='javascript:;') 查看
      include ../../../component/page.pug
